header{
  .login{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    .avator-box {
      border: 1px solid #fff;
      border-radius: 100%;
      background: #f6f1f1;
      width: 28px;
      height: 28px;
      text-align: center;
      overflow: hidden;
      margin-right: 10px;
      font-size: 13px;
      .avator {
        color: #f9d9d9;
        display: block;
        font-size: 22px;
        padding-top: 5px;
        &::before {
          display: block;
        }
      }
    }
  }
}
.main {
  padding: 0 12px 80px;
  ::v-deep .van-sticky--fixed {
    left: 12px;
    right: 12px;
  }
  .login {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    .avator-box {
      border: 1px solid #fff;
      border-radius: 100%;
      background: #f6f1f1;
      width: 38px;
      height: 38px;
      text-align: center;
      overflow: hidden;
      margin: 0 10px 0 20px;
      .avator {
        color: #f9d9d9;
        display: block;
        font-size: 30px;
        padding-top: 8px;
        &::before {
          display: block;
        }
      }
    }
  }
  .apps {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px 0;
    .app-item {
      width: 25%;
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px 0;
      .app-name {
        font-size: 12px;
        color: #9a9a9a;
        margin-top: 1px;
      }
      .iconfont {
        font-size: 25px;
        color: #ff5353;
      }
    }
  }
  .like {
    margin-top: 10px;
    background: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 12px;
    .like-box {
      background: #9b9b9b;
      border-radius: 10px;
      padding: 10px;
      .iconfont {
        color: #fff;
      }
    }
    .like-info {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      .like-num {
        font-size: 12px;
        color: #999;
      }
    }
    .like-heart {
      flex: 1;
      text-align: right;
      font-size: 12px;
      .heart {
        padding: 3px 6px;
        display: inline-block;
        border-radius: 15px;
        border: 1px solid #f2f2f2;
        .self-heart {
          padding-right: 2px;
          vertical-align: revert;
        }
      }
    }
  }
  .playlist-wrapper {
    font-size: 13px;
    ::v-deep .van-tabs__wrap {
      // height: 40px;
      .van-tabs__nav {
        background: #f5f5f5;
        padding: 4px 0 0;
        position: relative;
        z-index: 10;
        .van-tab {
          color: #949494;
          font-weight: bold;
          &.van-tab--active {
            color: #616161;
          }
        }
        .van-tabs__line {
          height: 4px;
          background: #ff5353;
          bottom: 12px;
          width: 50px;
        }
      }
    }
    ::v-deep .van-tabs__content {
      .playlist-input {
        padding-top: 15px;
        display: flex;
        align-items: center;
        .playlist-icon-box {
          background: #f3f3f3;
          padding: 12px;
          border-radius: 8px;
          margin-right: 10px;
        }
      }
      .playlist-empty {
        text-align: center;
        color: #a9a9a9;
        padding: 15px 0;
      }
    }
  }
  .albumlist-title {
    .van-icon-cross {
      padding: 5px;
      border-radius: 50%;
      background: #e9e9e9;
      color: #848484;
    }
  }
  .border-click {
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
